@model IEnumerable<B.HardwareTown.ApplicationCore.DTO.ProductDTO>

@foreach (var product in Model)
{
	<li class="list-group-item ml-0 pl-0">
		<div class="row" style="padding-bottom: 1em; padding-top: 1em;">
			<div class="col-lg-3 col-md-4 col-sm-12 pl-0">
				<img src="~/images/cpu.png" style="padding-bottom:0.5em;" />
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12 pl-0">
				<a href="@Url.Action("Index","Details",new {id = product.Id })"><p class="h5">@product.Name</p></a>
				<ul>
					@foreach (var detail in product.Details)
					{
						<li style="font-weight:200; font-size:medium;">@detail</li>
					}
				</ul>
				<p style="font-weight:600; font-size:medium;">Bought @product.Bought times</p>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12" style="text-align:right; display:inline;">
				<div>
					<h3 align="right" style="font-weight:700; display:inline-block; color:greenyellow;">$</h3>
					<h3 align="right" style="font-weight:700; display:inline-block;">@product.Price</h3>
					<h3 align="right" style="font-weight:700; color:grey; display:inline-block;">.@String.Format("{0:00}", (product.Price % 1 * 100))</h3>
					<button class="btn btn-danger btn-lg">Add to Cart</button>
					<p style="color:red; margin-top:1em;  font-size:medium;">Available</p>
				</div>
			</div>
		</div>
	</li>
}

