@model B.HardwareTown.ApplicationCore.DTO.ProductDTO
@{
	ViewData["Title"] = "Index";
}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Hardware Town</a></li>
		<a class="breadcrumb-item" asp-controller="Search" asp-action="Index">CPUs</a>
		<li class="breadcrumb-item active">@Model.Name</li>
	</ol>
</nav>
<div>
	<h4>@Model.Name</h4>
</div>
<div class="row" style="margin-top:1em;">
	<div class="col-lg-4 col-md-4 col-sm-12">
		<div>Gallery</div>
	</div>
	<div class="col-lg-5 col-md-4 col-sm-12">
		<div class="row">
			<div class="col-lg-2">
				<i class="far fa-thumbs-up"></i> 5
			</div>
			<div class="col-lg-2">
				<i class="far fa-star"></i> 4.5
			</div>
			<div class="col-lg-4">
				<ul class="nav justify-content-center pt-0 mt-0" id="myTab" role="tablist">
					<li class="nav-item pt-0 mt-0">
						<a class="nav-link pt-0 mt-0" id="prof" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"> See reviews</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4"></div>
		</div>
		<button class="btn btn-primary pb-0 pt-0">Like <i class="far fa-thumbs-up"></i></button>
		<ul class="mt-2">
			@foreach (var detail in @Model.Details)
			{
				<li style="font-weight:200;">@detail</li>
			}
		</ul>
		<p style="margin-top: 1em;">Bought @Model.Bought times</p>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-12">
		<ul class="list-group">
			<li class="list-group-item border-bottom-0 pb-0">
				<h2 style="font-weight:700; color:greenyellow; float:left;">$</h2>
				<h2 style="font-weight:700; float:left;">@Model.Price</h2>
				<h2 style="font-weight:700; color:grey; ">.@String.Format("{0:00}",(Model.Price%1*100))</h2>
			</li>
			<li class="list-group-item border-bottom-0 border-top-0 mt-0 pt-0 mb-0 pb-0">
				<button class=" btn btn-danger">Add to Cart</button>
			</li>
			<li class="list-group-item border-bottom-0 border-top-0 mb-0 pb-0" style="display:inline;">
				<p class="pt-0 pb-0 mb-0 mt-0" style="font-size:small; display:inline-block;">Units available:</p>
				<p class="pt-0 pb-0 mb-0 mt-0" style="font-weight:700; font-size:small;display:inline-block;">15</p>
			</li>
			<li class="list-group-item border-top-0  mt-0 pt-0" style="display:inline;">
				<p class="mt-0 pt-0 mb-0 pb-0" style=" font-size:small;display:inline-block; ">Estimated delivery:</p>
				<p class="mt-0 pt-0 mb-0 pb-0" style=" font-size:small; display:inline-block; color: lightgreen;">Wednesday,25 August 2025</p>
			</li>
		</ul>
	</div>
</div>
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Description</div>
	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Reviews</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
	$("#prof").click(function () {
		$("#prof").removeClass("active");
		$("#profile-tab").addClass("active");
		$("#home-tab").removeClass("active");
	});
</script>